In [1]:
import pandas as pd
import gender_guesser.detector as gender
d = gender.Detector()

In [2]:
#riders.json created from table at https://www.striderbikes.com/charlotte
df = pd.read_json('riders.json')
df['Gender'] = df.apply(lambda row: d.get_gender(row.FirstName), axis=1)
df.head()

                            Class FirstName  LastName  Number  Rank   Gender
0  2&Under Class Total Riders: 55   Anthony     Kenny     122     1     male
1  2&Under Class Total Riders: 55    Legend  Arellano     101     2  unknown
2  2&Under Class Total Riders: 55     Brady     Baker     111     3     male
3  2&Under Class Total Riders: 55    Kipton   Tonzola     143     4  unknown
4  2&Under Class Total Riders: 55      Dean  Sickelka     150     5     male

In [3]:
df['Gender'].value_counts()

male           35
unknown        10
female          4
mostly_male     3
Name: Gender, dtype: int64

In [4]:
df[df['Gender'].str.match('female')]

,Class,FirstName,LastName,Number,Rank,Gender
25,3 Year Old 12s Class Total Riders: 45,Maria,Nikitina,110,10,female
30,3 Year Old 12s Class Total Riders: 45,Ellie,Gaul,139,15,female
31,3 Year Old 12s Class Total Riders: 45,Eli,Paschke,103,16,female
50,14x Open Class Total Riders: 9,Sophia,Piechnik,104,6,female

In [5]:
df[df['Gender'].str.match('unknown')]

,Class,FirstName,LastName,Number,Rank,Gender
1,2&Under Class Total Riders: 55,Legend,Arellano,101,2,unknown
3,2&Under Class Total Riders: 55,Kipton,Tonzola,143,4,unknown
6,2&Under Class Total Riders: 55,Beckham,Bell,152,7,unknown
9,2&Under Class Total Riders: 55,Wells,Griffin,115,10,unknown
17,3 Year Old 12s Class Total Riders: 45,D'Nero,Willbrich,133,2,unknown
20,3 Year Old 12s Class Total Riders: 45,Valor,Conners,142,5,unknown
21,3 Year Old 12s Class Total Riders: 45,Gunner,Lusk,141,6,unknown
23,3 Year Old 12s Class Total Riders: 45,Kinsley,Villiard,135,8,unknown
33,4 Year Old 12s Class Total Riders: 35,Lliam,Benjamin,133,2,unknown
48,14x Open Class Total Riders: 9,Agniya,Kuzychenko,108,4,unknown

In [6]:
df[df['Gender'].str.match('mostly_male')]

,Class,FirstName,LastName,Number,Rank,Gender
19,3 Year Old 12s Class Total Riders: 45,Logan,Montero,116,4,mostly_male
27,3 Year Old 12s Class Total Riders: 45,Charlie,Williamson,144,12,mostly_male
35,4 Year Old 12s Class Total Riders: 35,Parker,Harmon,105,4,mostly_male

In [8]:
df[df['Gender'].str.match('male')]

,Class,FirstName,LastName,Number,Rank,Gender
0,2&Under Class Total Riders: 55,Anthony,Kenny,122,1,male
2,2&Under Class Total Riders: 55,Brady,Baker,111,3,male
4,2&Under Class Total Riders: 55,Dean,Sickelka,150,5,male
5,2&Under Class Total Riders: 55,Carter,Griffith,129,6,male
7,2&Under Class Total Riders: 55,Caleb,Scaggs,102,8,male
8,2&Under Class Total Riders: 55,Tucker,Duggins,141,9,male
10,2&Under Class Total Riders: 55,Andrew,Gunter,103,11,male
11,2&Under Class Total Riders: 55,Trevor,Webster,123,12,male
12,2&Under Class Total Riders: 55,Ryder,Baricska,105,13,male
13,2&Under Class Total Riders: 55,Bennett,Williams,114,14,male
14,2&Under Class Total Riders: 55,Harold,Linsley,144,15,male
15,2&Under Class Total Riders: 55,Matthew,Tso,119,16,male
16,3 Year Old 12s Class Total Riders: 45,Luke,Liberto,122,1,male
18,3 Year Old 12s Class Total Riders: 45,Warren,Lacey,134,3,male
22,3 Year Old 12s Class Total Riders: 45,Oliver,Virgo,145,7,male
24,3 Year Old 12s Class Total Riders: 45,Jack,Mielke,131,9,male
26,3 Year Old 12s Class Total Riders: 45,Ethan,Paloski,104,11,male
28,3 Year Old 12s Class Total Riders: 45,Korbin,Helms,137,13,male
29,3 Year Old 12s Class Total Riders: 45,Elijah,Payseur,113,14,male
32,4 Year Old 12s Class Total Riders: 35,Pasha,Al,101,1,male
34,4 Year Old 12s Class Total Riders: 35,Elijah,Price,135,3,male
36,4 Year Old 12s Class Total Riders: 35,Hans,Dargel,122,5,male
37,4 Year Old 12s Class Total Riders: 35,Kieran,Halron,106,6,male
38,4 Year Old 12s Class Total Riders: 35,Peter,Shaha,104,7,male
39,4 Year Old 12s Class Total Riders: 35,Chase,Lorusso,116,8,male
40,4 Year Old 12s Class Total Riders: 35,Cormac,Sullivan,128,9,male
41,4 Year Old 12s Class Total Riders: 35,Preston,Platt,126,10,male
42,4 Year Old 12s Class Total Riders: 35,Noah,Reasoner,127,11,male
43,4 Year Old 12s Class Total Riders: 35,Axel,Sakich,130,12,male
44,4 Year Old 12s Class Total Riders: 35,Carter,Lewis,103,13,male
45,14x Open Class Total Riders: 9,Warren,Bugden,106,1,male
46,14x Open Class Total Riders: 9,Brian,Catron,109,2,male
47,14x Open Class Total Riders: 9,Jared,Creaser,101,3,male
49,14x Open Class Total Riders: 9,Axel,Sakich,107,5,male
51,14x Open Class Total Riders: 9,Jackson,Svatek,102,7,male