In [19]:
import pandas as pd
import gender_guesser.detector as gender
d = gender.Detector()

In [32]:
#riders.json created from table at https://www.striderbikes.com/charlotte
df1 = pd.read_json('riders.json')
df2 = pd.read_json('riders_championship.json')
frames = [df1, df2]
df = pd.concat(frames, sort=False)
df['Gender'] = df.apply(lambda row: d.get_gender(row.FirstName), axis=1)
df.head()

,Class,FirstName,LastName,Number,Rank,Country,Gender
0,2&Under Class Total Riders: 55,Anthony,Kenny,122,1,NaN,male
1,2&Under Class Total Riders: 55,Legend,Arellano,101,2,NaN,unknown
2,2&Under Class Total Riders: 55,Brady,Baker,111,3,NaN,male
3,2&Under Class Total Riders: 55,Kipton,Tonzola,143,4,NaN,unknown
4,2&Under Class Total Riders: 55,Dean,Sickelka,150,5,NaN,male

In [33]:
df['Gender'].value_counts()

male             62
unknown          32
female            9
mostly_male       8
andy              3
mostly_female     3
Name: Gender, dtype: int64

In [35]:
df[df['Gender'].str.match('unknown')]

,Class,FirstName,LastName,Number,Rank,Country,Gender
1,2&Under Class Total Riders: 55,Legend,Arellano,101,2,NaN,unknown
3,2&Under Class Total Riders: 55,Kipton,Tonzola,143,4,NaN,unknown
6,2&Under Class Total Riders: 55,Beckham,Bell,152,7,NaN,unknown
9,2&Under Class Total Riders: 55,Wells,Griffin,115,10,NaN,unknown
17,3 Year Old 12s Class Total Riders: 45,D'Nero,Willbrich,133,2,NaN,unknown
20,3 Year Old 12s Class Total Riders: 45,Valor,Conners,142,5,NaN,unknown
21,3 Year Old 12s Class Total Riders: 45,Gunner,Lusk,141,6,NaN,unknown
23,3 Year Old 12s Class Total Riders: 45,Kinsley,Villiard,135,8,NaN,unknown
33,4 Year Old 12s Class Total Riders: 35,Lliam,Benjamin,133,2,NaN,unknown
48,14x Open Class Total Riders: 9,Agniya,Kuzychenko,108,4,NaN,unknown
2,2&Under Class Total Riders: 67,Iwata,Arata,#107,3,Japan,unknown
3,2&Under Class Total Riders: 67,Beckett,Cooper,#149,4,USA,unknown
5,2&Under Class Total Riders: 67,Raiku,Kaji,#105,6,Japan,unknown
9,2&Under Class Total Riders: 67,Gable,Watson,#115,10,USA,unknown
13,"3 Year Old 12"" Class Total Riders: 90",Archirawit,Chaimongkol,#109,1,Thailand,unknown
14,"3 Year Old 12"" Class Total Riders: 90",Kaisei,Nishimura,#152,2,Japan,unknown
18,"3 Year Old 12"" Class Total Riders: 90",Huxley,Fair,#107,6,USA,unknown
20,"3 Year Old 12"" Class Total Riders: 90",Emitt,Prado,#129,8,USA,unknown
27,"4 Year Old 12"" Class Total Riders: 77",Morii,Seinosuke,#117,2,Japan,unknown
28,"4 Year Old 12"" Class Total Riders: 77",Xinglei,Lou,#161,3,China,unknown
38,"4 Year Old 12"" Class Total Riders: 77",Finnley,Raymond,#154,13,USA,unknown
41,"5 Year Old 12"" Class Total Riders: 43",Koga,Eno,#101,3,Japan,unknown
42,"5 Year Old 12"" Class Total Riders: 43",Thirat,Poolcha,#125,4,USA,unknown
44,"5 Year Old 12"" Class Total Riders: 43",Cohen,Jagielski,#123,6,United Kingdom,unknown
45,"5 Year Old 12"" Class Total Riders: 43",Khang,Mai Vinh- Vietnam,#126,7,,unknown
46,"5 Year Old 12"" Class Total Riders: 43",Iwata,Fuki,#103,8,Japan,unknown
47,"5 Year Old 12"" Class Total Riders: 43",Pisit,Visuttiranon,#118,9,Thailand,unknown
49,"5 Year Old 12"" Class Total Riders: 43",Rinto,Taguchi,#102,11,Japan,unknown
51,"5 Year Old 12"" Class Total Riders: 43",Zengruihan,Su,#124,13,China,unknown
53,14x Open Class Total Riders: 39,Namiki,Takao,#107,2,Japan,unknown
59,14x Open Class Total Riders: 39,Brecken,Yingling,#123,8,USA,unknown
64,14x Open Class Total Riders: 39,Sirian,Waterworth,#120,13,USA,unknown

In [34]:
df[df['Gender'].str.match('female')]

,Class,FirstName,LastName,Number,Rank,Country,Gender
25,3 Year Old 12s Class Total Riders: 45,Maria,Nikitina,110,10,NaN,female
30,3 Year Old 12s Class Total Riders: 45,Ellie,Gaul,139,15,NaN,female
31,3 Year Old 12s Class Total Riders: 45,Eli,Paschke,103,16,NaN,female
50,14x Open Class Total Riders: 9,Sophia,Piechnik,104,6,NaN,female
23,"3 Year Old 12"" Class Total Riders: 90",Isla,Gooch,#167,11,USA,female
31,"4 Year Old 12"" Class Total Riders: 77",Mioko,Oka,#121,6,Japan,female
33,"4 Year Old 12"" Class Total Riders: 77",Riki,Onoda,#132,8,Japan,female
39,"5 Year Old 12"" Class Total Riders: 43",Taiga,Kuwahara,#105,1,Japan,female
55,14x Open Class Total Riders: 39,Mia,Yinh Kang,#134,4,Vietnam,female

In [38]:
df[df['Gender'].str.match('mostly_female')]

,Class,FirstName,LastName,Number,Rank,Country,Gender
30,"4 Year Old 12"" Class Total Riders: 77",Yuki,Chino,#140,5,Japan,mostly_female
43,"5 Year Old 12"" Class Total Riders: 43",Yuki,Kitayama,#120,5,Japan,mostly_female
54,14x Open Class Total Riders: 39,Yuki,Kitayama,#136,3,Japan,mostly_female

In [39]:
df[df['Gender'].str.match('andy')]

,Class,FirstName,LastName,Number,Rank,Country,Gender
40,"5 Year Old 12"" Class Total Riders: 43",Yu,Matsumiya,#104,2,Japan,andy
50,"5 Year Old 12"" Class Total Riders: 43",Khoi,Tran Minh,#113,12,Vietnam,andy
60,14x Open Class Total Riders: 39,Khoi,Tran Minh,#117,9,USA,andy

In [36]:
df[df['Gender'].str.match('mostly_male')]

,Class,FirstName,LastName,Number,Rank,Country,Gender
19,3 Year Old 12s Class Total Riders: 45,Logan,Montero,116,4,NaN,mostly_male
27,3 Year Old 12s Class Total Riders: 45,Charlie,Williamson,144,12,NaN,mostly_male
35,4 Year Old 12s Class Total Riders: 35,Parker,Harmon,105,4,NaN,mostly_male
7,2&Under Class Total Riders: 67,Riley,Bushlack,#102,8,USA,mostly_male
10,2&Under Class Total Riders: 67,Logan,Whitt,#150,11,USA,mostly_male
34,"4 Year Old 12"" Class Total Riders: 77",Hoang,Tran Doan Minh,#152,9,Vietnam,mostly_male
35,"4 Year Old 12"" Class Total Riders: 77",Ryan,Taylor,#102,10,Canada,mostly_male
58,14x Open Class Total Riders: 39,Ryan,Taylor,#102,7,Canada,mostly_male

In [37]:
df[df['Gender'].str.match('male')]

,Class,FirstName,LastName,Number,Rank,Country,Gender
0,2&Under Class Total Riders: 55,Anthony,Kenny,122,1,NaN,male
2,2&Under Class Total Riders: 55,Brady,Baker,111,3,NaN,male
4,2&Under Class Total Riders: 55,Dean,Sickelka,150,5,NaN,male
5,2&Under Class Total Riders: 55,Carter,Griffith,129,6,NaN,male
7,2&Under Class Total Riders: 55,Caleb,Scaggs,102,8,NaN,male
8,2&Under Class Total Riders: 55,Tucker,Duggins,141,9,NaN,male
10,2&Under Class Total Riders: 55,Andrew,Gunter,103,11,NaN,male
11,2&Under Class Total Riders: 55,Trevor,Webster,123,12,NaN,male
12,2&Under Class Total Riders: 55,Ryder,Baricska,105,13,NaN,male
13,2&Under Class Total Riders: 55,Bennett,Williams,114,14,NaN,male
14,2&Under Class Total Riders: 55,Harold,Linsley,144,15,NaN,male
15,2&Under Class Total Riders: 55,Matthew,Tso,119,16,NaN,male
16,3 Year Old 12s Class Total Riders: 45,Luke,Liberto,122,1,NaN,male
18,3 Year Old 12s Class Total Riders: 45,Warren,Lacey,134,3,NaN,male
22,3 Year Old 12s Class Total Riders: 45,Oliver,Virgo,145,7,NaN,male
24,3 Year Old 12s Class Total Riders: 45,Jack,Mielke,131,9,NaN,male
26,3 Year Old 12s Class Total Riders: 45,Ethan,Paloski,104,11,NaN,male
28,3 Year Old 12s Class Total Riders: 45,Korbin,Helms,137,13,NaN,male
29,3 Year Old 12s Class Total Riders: 45,Elijah,Payseur,113,14,NaN,male
32,4 Year Old 12s Class Total Riders: 35,Pasha,Al,101,1,NaN,male
34,4 Year Old 12s Class Total Riders: 35,Elijah,Price,135,3,NaN,male
36,4 Year Old 12s Class Total Riders: 35,Hans,Dargel,122,5,NaN,male
37,4 Year Old 12s Class Total Riders: 35,Kieran,Halron,106,6,NaN,male
38,4 Year Old 12s Class Total Riders: 35,Peter,Shaha,104,7,NaN,male
39,4 Year Old 12s Class Total Riders: 35,Chase,Lorusso,116,8,NaN,male
40,4 Year Old 12s Class Total Riders: 35,Cormac,Sullivan,128,9,NaN,male
41,4 Year Old 12s Class Total Riders: 35,Preston,Platt,126,10,NaN,male
42,4 Year Old 12s Class Total Riders: 35,Noah,Reasoner,127,11,NaN,male
43,4 Year Old 12s Class Total Riders: 35,Axel,Sakich,130,12,NaN,male
44,4 Year Old 12s Class Total Riders: 35,Carter,Lewis,103,13,NaN,male
...,...,...,...,...,...,...,...
47,14x Open Class Total Riders: 9,Jared,Creaser,101,3,NaN,male
49,14x Open Class Total Riders: 9,Axel,Sakich,107,5,NaN,male
51,14x Open Class Total Riders: 9,Jackson,Svatek,102,7,NaN,male
0,2&Under Class Total Riders: 67,Leo,Watanabe,#130,1,Japan,male
1,2&Under Class Total Riders: 67,David,Christensen,#119,2,USA,male
4,2&Under Class Total Riders: 67,Ryder,Cazier,#147,5,USA,male
6,2&Under Class Total Riders: 67,Takeru,Mitogawa,#124,7,Japan,male
8,2&Under Class Total Riders: 67,Wyatt,Spreer,#151,9,USA,male
11,2&Under Class Total Riders: 67,Oliver,Gorski,#104,12,USA,male
12,2&Under Class Total Riders: 67,Ethan,McFarland,#164,13,USA,male
15,"3 Year Old 12"" Class Total Riders: 90",Luke,Liberto,#153,3,USA,male
16,"3 Year Old 12"" Class Total Riders: 90",Emiliano,Gnova,#140,4,Chile,male
17,"3 Year Old 12"" Class Total Riders: 90",Max,Carney,#147,5,USA,male
19,"3 Year Old 12"" Class Total Riders: 90",Jeroen,Hadley,#106,7,USA,male
21,"3 Year Old 12"" Class Total Riders: 90",Miles,Worm,#126,9,USA,male
22,"3 Year Old 12"" Class Total Riders: 90",Davis,Busey,#150,10,USA,male
24,"3 Year Old 12"" Class Total Riders: 90",David,Bohannan,#157,12,USA,male
25,"3 Year Old 12"" Class Total Riders: 90",Micah,Shiman,#136,13,USA,male
26,"4 Year Old 12"" Class Total Riders: 77",Yuhi,Otake,#115,1,Japan,male
29,"4 Year Old 12"" Class Total Riders: 77",Eddie,Wei,#123,4,Taiwan,male
32,"4 Year Old 12"" Class Total Riders: 77",Alexey,Svashenko,#110,7,Russia/Japan,male
36,"4 Year Old 12"" Class Total Riders: 77",Franco,Castillo,#166,11,Costa Rica,male
37,"4 Year Old 12"" Class Total Riders: 77",Pasha,Ali,#101,12,USA,male
48,"5 Year Old 12"" Class Total Riders: 43",Jorge,Brito,#122,10,Ecuador,male
52,14x Open Class Total Riders: 39,Imran,Ismail Shariman,#106,1,Malaysia,male
56,14x Open Class Total Riders: 39,Travis,Zapata,#121,5,USA,male
57,14x Open Class Total Riders: 39,Sebastian,Galeano,#132,6,Paraguay,male
61,14x Open Class Total Riders: 39,Nick,Wangvilai,#118,10,Thailand,male
62,14x Open Class Total Riders: 39,Jared,Creaser,#101,11,Canada,male
63,14x Open Class Total Riders: 39,Mark,Krempasky,#139,12,USA,male